.delta {
  display: inline-block;
  font-size: 11px !important;
  color: red;
  font-weight: bold;
  margin-right: 6%;
}
.deltainc {
  display: inline-block;
  font-size: 13px !important;
  color: red;
  font-weight: bold;
  margin-bottom: 2%;
}
.delta2 {
  display: inline-block;
  font-size: 11px !important;
  color: #00b33c;
  font-weight: bolder;
  margin-right: 6%;
}
.deltainc2 {
  display: inline-block;
  font-size: 13px !important;
  color: #00b33c;
  font-weight: bolder;
  margin-bottom: 2%;
}

.delta3 {
  display: inline-block;
  font-size: 11px !important;
  color: grey;
  font-weight: bolder;
  margin-right: 6%;
}
.deltainc3 {
  display: inline-block;
  font-size: 13px !important;
  color: grey;
  font-weight: bolder;
  margin-bottom: 2%;
}

.heading {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 35px;
  color: rgba(168, 6, 6, 0.945);
}

td,
li {
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
}

/* h5 {
  font-size: 15px;
} */
